################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KnowledgeCheck2/.vs/KnowledgeCheck2/FileContentIndex
